body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(224, 218, 135);
  box-sizing: border-box;
  padding-top: 15px;
  margin: auto;
}

button {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid black;
}

.header input {
  margin-left: 10px;
}

.header label {
  font-size: 1.5rem;
}

h1 {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  margin-top: 10px;
}

.container {
  width: 40vw;
  height: 60vh;
  display: grid;
  border: 50px solid rgb(160, 13, 13);
  background-color: white;
  border-radius: 8px;
}

#colorInput {
  border-radius: 8px;
  width: 100px;
  height: 55px;  
  overflow: hidden;
  padding: 0;
}

#drawBtn {
  background-color: black;
  color: white;
}

#randomBtn {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  color: white;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.footer button {
  width: 125px;
}

#new-grid {
  width: 60px;
}

.footer label {
  padding: 0;
  width: 50px;
  text-align: right;
}